# cluster.env - parametros del clúster que Cluster API va a crear en Proxmox
export PROXMOX_URL="https://192.168.1.29:8006"
export PROXMOX_SOURCENODE="proxmox"          # nodo Proxmox donde vive la plantilla
export TEMPLATE_VMID="9500"                  # la plantilla con kubeadm ya instalado
export ALLOWED_NODES="[proxmox]"             # nodos donde puede crear VMs
export VM_SSH_KEYS="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFOdLar34ylC5vajdLqUwD48e2J2aKCzpnHRKRZxmw9R root@proxmox"
export CONTROL_PLANE_ENDPOINT_IP="192.168.1.195"   # IP virtual del API server (kube-vip)
export NODE_IP_RANGES="[192.168.1.196-192.168.1.199]"
export GATEWAY="192.168.1.1"
export IP_PREFIX="24"
export DNS_SERVERS="[192.168.1.1,8.8.8.8]"
export BRIDGE="vmbr0"
export BOOT_VOLUME_DEVICE="scsi0"
export BOOT_VOLUME_SIZE="11"
export NUM_SOCKETS="1"
export NUM_CORES="2"
export MEMORY_MIB="2048"
export EXP_CLUSTER_RESOURCE_SET="true"
